@font-face {
  font-family: 'Bryant';
  src: url("../fonts/bryant/Bryant-Bold_0.otf") format("opentype"), url("../fonts/bryant/bryant-bold_0-webfont.ttf") format("truetype"), url("../fonts/bryant/bryant-bold_0-webfont.woff") format("woff");
}

body {
  background-color: #071907;
  background-image: url("../../img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

@media (max-width: 1440px) {
  body {
    background-size: auto;
  }
}

@media (max-width: 425px) {
  body {
    overflow: visible;
  }
}

h1 {
  font-family: Bryant;
  font-size: 50px;
  margin-top: 30px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-shadow: 5px 5px #000;
  line-height: 50px;
  -webkit-text-stroke: 1.5px black;
}

@media (max-width: 1440px) {
  h1 {
    margin-top: 25px;
    line-height: 20px;
  }
}


@media (max-width: 1024px) {
  h1 {
    display: none;
  }
}

.platno {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  text-align: center;
  width: 800px;
  height: 450px;
  background-color: #000;
  border: 2px solid gray;
}
@media (max-width: 1024px) {
  .platno {
    margin-top: 35px;
  }
}

.platno .header {
  position: relative;
  top: -415px;
  text-align: center;
  text-transform: uppercase;
  z-index: 10;
  font-family: Bryant;
  color: #fff;
  font-size: 50px;
  text-align: center;
}

.platno .text {
  position: relative;
  top: -400px;
  text-align: center;
  text-transform: uppercase;
  z-index: 10;
  font-family: Bryant;
  color: #fff;
  margin-top: 5px;
  font-size: 20px;
  text-align: center;
}

.platno #play {
  position: relative;
  top: -370px;
  text-align: center;
  text-transform: uppercase;
  z-index: 10;
}

.platno #playername, .platno #seedinput {
  position: relative;
  top: -415px;
  text-align: center;
  z-index: 10;
  font-family: Bryant;
  font-size: 15px;
  text-align: center;
  padding: 8px 12px;
  background: none;
  color: #fff;
  border: 2px solid gray;
}

.platno #playagain {
  display: none;
  position: relative;
  top: -190px;
  text-align: center;
  text-transform: uppercase;
  z-index: 10;
}

.platno .tlacitko {
  font-family: Bryant;
  font-size: 15px;
  text-align: center;
  padding: 8px 12px;
  text-transform: uppercase;
  background: none;
  color: #fff;
  border: 2px solid gray;
}

.platno .tlacitko:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.platno #canvas {
  position: relative;
  margin: 0;
  width: 800px;
  height: 450px;
}

.platno .help {
  display: none;
  position: absolute;
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
  margin: auto;
  background-color: #000;
  color: #fff;
  z-index: 15;
  font-family: Bryant;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #fff;
}

.platno .help .heading {
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 30px;
  text-decoration: underline;
}
.platno .help .seed {
  position: absolute;
  right: 15px;
  bottom: 10px;
  color: #9B9B9B;
}

.keyboard {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
  margin-top: 30px;
}
@media (max-width: 1440px) {
  .keyboard {
    margin-top: 10px;
  }
}
.keyboard .tlacitko {
  font-family: Bryant;
  font-size: 15px;
  text-align: center;
  padding: 8px 12px;
  text-transform: uppercase;
  background: none;
  color: #fff;
  border: 2px solid gray;
}
.keyboard .tlacitko:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}
#west {
  position: absolute;
  left: 0;
  top: 40px;
}
#east {
  position: absolute;
  left: 86px;
  top: 40px;
}
#south {
  position: absolute;
  left: 45px;
  top: 80px;
}
#north {
  position: absolute;
  left: 45px;
  top: 0;
}
#attack {
  position: absolute;
  padding: 8px 25px;
  left: 150px;
  top: 40px;
}
#flee {
  position: absolute;
  padding: 8px 25px;
  left: 280px;
  top: 40px;
}
#helpbutton {
  position: absolute;
  padding: 8px 25px;
  left: 390px;
  top: 40px;
}
#escape {
  position: absolute;
  left: 500px;
  top: 40px;
}
